<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.StringCat</id>
    <name><![CDATA[连接字符串]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2019-08-16</jartime>
    <vendor>xing</vendor>
    <description><![CDATA[将输入的参数以字符串形式连接到一起]]></description>
    
    <change-notes><![CDATA[第一个版本]]></change-notes>
  <main-package>com.fr.plugin.StringCat</main-package>
  <function-recorder class="com.fr.plugin.StringCat"></function-recorder>
  <extra-core>
       <FunctionDefineProvider class="com.fr.plugin.StringCat" name="StringCat" description="连接数字和字符串"/>
  </extra-core>
  <extra-designer>
  </extra-designer>
  <extra-chart-type>
  </extra-chart-type>
  <extra-chart-design>
  </extra-chart-design>
</plugin>